<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시물 수정폼</title>
</head>

<style>
    .layout{
        width: 500px;
        margin: 0 auto;
        margin-top:100px;
    }

    input{
        width:100%;
        box-sizing: border-box;
        margin-top:10px;
    }

    textarea{
        width: 100%;
        margin-top: 10px;
        min-height: 300px;
    }

</style>

<body>
    <div class="layout">
        <form action ="/board/modifyDo" method="post">
            <input type="hidden" id="id" name="id" th:value='${board.id}'/>
            <input name="title" type="text" th:value="${board.title}"/>
            <textarea name="content" th:value="${board.content}" th:text="${board.content}"/></textarea>
            <button type="submit">저장</button>
        </form>
    </div>
</body>
</html>